@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@300&family=Alegreya+SC:ital@1&family=Clicker+Script&display=swap');
* {
    box-sizing: border-box;
}
@media screen and (max-width: 900px) {
    .header {
     text-align: center;
    }
  }
body {
    width: 1116px;
    height: 346px;
    font-weight: 400;
}

  

.buttons {
    margin-left: 0px;
    margin-right: 8px;
    border-radius: 3rem;
    font-size: 1.25rem;
    padding: 1.00rem 1.25rem;
    background: rgba(0,0,0,0.5);
}
  

.submitbar {
    background: #EA4C89;
    color: white;
    margin-left: -150px;
    box-shadow: none;
}
.nav-search-button {
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 190px;
}
.main-search {
    border: 1px solid white;
    margin-left: 157px;
    border-radius: 4rem;
    padding: 15px;
    width: 70%;
    margin-top: 35px;
    box-shadow: #EA4C89;

}
.main-search:active {
    border: 1px solid white;
    box-shadow: #EA4C89;
}
.searchbar {
  position: relative;
  margin-left: 90px;

}
.searchbutton {
    position: absolute;
    left: 265px;
    top: 558px;
    z-index: 20;
    
}
.nav-brand {
    margin: 0px 16px 0px 0px;
    font-family: "Clicker Script";
    font-size: 27px;
    font-weight: bold;
}
.nav-container {
    display: flex;
    justify-content: space-between;
    width: 1297px;
    margin-right: 24px;
}

.nav-headers {
    padding: 30px 16px;
    font-size: 14px;
    font-weight: bolder;
    margin: -1px 7px;
}
.nav-badgeset {
    background-color: #EA4C89;
} 



.badge{
    padding:0px;
    height:12px;

}
.design {
    position: absolute;
    opacity: 1;
    height: 700px;
    width: 100vw;
}
.maintxt {
    margin: 0px 5px;
    padding: 16px 20px;
}

.filter-button {
    margin-left: 1102px;
    padding: 10px;
    margin-top: -64px;
}
.dropdowndesign {
    margin-top: 913px;
    margin-left: 70px;
    background-color: white;
    box-shadow: #EA4C89;
    display: inline-block;
}
.dropdowndesign:hover {
    background-color: white;
    color: black;
    box-shadow: #EA4C89;
   
}

.design-on-card {
    padding-left: -8px;
    color: white;
    padding-top: 137px;
    opacity: 0;
    transition: opacity 300ms ease;
    z-index: 2;
}
.design-on-card:hover{
    opacity: 1;
}

.header {
    position: relative;
    text-align: center  ;
}
.header-content-container {
    position: absolute;
    top: 20px;
    max-width: 100%;
}

.button-display {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 2rem;
    margin-left: 26px;
    font-size: 0.05rem;
    padding: 0.05rem 0.05rem;
}
.buttons:hover {
    background-color: white;
    color: black;
    opacity: 0.5;
}
.buttons-landing {
    margin-left: 255px;
    margin-top: 114px;
    border-radius: 1px;
    margin-top: 87px;
    text-align: center;
    
}
.trending-searches {

    color: white;
}
.form-inline {
    display: flex;
    flex-direction: row;
}
.header-alignment {
    color: white;
}

.cardtext {
    display: flex;
    flex-direction: row;
    margin: 6px 1px; 
   
}
.card-alignment {
    margin-top: 10px;
    display: grid;
    grid-gap: 40px;
    list-style: none;
    background-color: white;
    
}
.cardstyle {
    display: grid;
    background-color: white;
    margin-top: 20px;
    grid-gap: 36px;
    margin-left: 50px;
    border: solid white;
    gap: 30px;
    padding-right: 1px;
    width: 1318px;
   
}
.card-border {
    border: none;
}
.cardlikes {
    margin: 1px 30px;
}
.submitbox {
    background: #EA4C89;
    color: white;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
}
.texting {
    margin-left: 400px;
    margin-top: 20px;
    text-align: center;
    
}
.logo {
    
    height: 20px;
    width: 25px;
    margin-right: 30px;
    
}
.logocolour {
    color: #ec015f;
    font-size: 40px;
    font-family: "Clicker Script";
    width: 104px;
    font: bolder;
}    
.logocolour:hover {
    color: #982a54;
}
.footer {
    display: flex;
    line-height: 22px;
    margin-top: 110px;
    width: 100%;
    height: 400px;
    box-sizing: border-box;
}


.signinbutton {
    color: #EA4C89;
    border: 0.1px solid white;
    margin-left: 40px;
  
}
.heading-size {
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: bolder;
    line-height: 22px;
    margin-top: 3px;
    color: #0d0c22;
    background-image: hover;
}
.footer-content {
    line-height: 20px;
    margin-top: 18px;
}
.box-sizing {
    width: 480px;
    margin-top: 20px;

}
.box-colour {
    margin: -12px 0px;
    padding: 24px 23px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background: #f8f8f8;
}


.content-gap {
   padding-top: 15px;
}

.heading-align {

    color: white;
    font-size: 1px;
    margin: 272px 0px -85px 90px;
}


.button-bg {
    background: transparent;
    border: 1px solid white;
}
.searchbox {
    width: 30px;
    border-radius: 5rem;
    margin-left: 31px;
}
.items {

    margin-left: 50px;
}

.footer-last {
    margin-left: 800px;
}
.logosec {
    height: 5x;
    width: 5px;
    color: #982a54;
    font-size: 1rem;
}
.nav-searchbar {
    border: 0.1px solid white;
    color: grey;
    margin: 6px 180px 4px -178px;
    text-align: center;
    background-color: white;
}

.video-container {
    width: 100%;
    max-height: 50vh;
    object-fit: cover;
}
.main {
    margin-top: 90px;
    text-align: center;
    color: white;
    font-size: x-large;
    margin-left: 332px;
}
.main-display {
    z-index: 1;
}
.footer-align {
    margin-left: 50px;
}
.dropdown-item active :hover {
    box-shadow:#906575;
}
.footer-logo-colour {
    border-color: #EA4C89;
}
.scroll-button {
    margin-left: 278px;
}
.dropdown:hover .dropdown-menu{
    display: block;
}